config TOUCHSCREEN_CTS
    bool "Cts Touchscreen"
    default n
    depends on TOUCHSCREEN_CTS_CHIPSET
    help
      Say Y here if you have CTS touch panel.
      If unsure, say N.
      

    